html{
    /* width:100vw;
    height:100vh; */
    max-width:2000px;
margin:auto auto;

}
body{
    font-family: 'Poppins', sans-serif;
    /* width:100vw;
    height:100vh; */
}
h1,h2,h3,p,figure{
    margin: 0;
}
button{
    padding: 0;
    outline: none;
    border:0;
}
input{
    border: 0;
    outline: none;
}